*{
	margin: 0;
	padding: 0;
	max-width: 100%;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

#swal-success{
	border: 1px solid green;
	background: white;
	padding: .5rem;
	color: black;
	font-weight: bolder;
	transition: background .5s ease-in-out;
	text-decoration: none;
}

#swal-success:hover{
	font-weight: bolder;
	border: none;
	background: green;
	color: white;
}
